<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gugugou.provider.provider.dao.AptitudeDao">

    <!--添加资质信息-->
    <insert id="addProviderAptitude" useGeneratedKeys="true" keyProperty="id">
        insert into t_provider_aptitude
        (id,provider_id_fk,aptitude_status,business_start_date,business_end_date,organization_start_date,organization_end_date,
        taxpayer_start_date,taxpayer_end_date,bank_start_date,bank_end_date,representative_start_date,representative_end_date,
        created_by,created_time,updated_by,updated_time,removed)
        values
        (#{id},#{providerIdFk},#{aptitudeStatus},#{businessStartDate},#{businessEndDate},#{organizationStartDate},#{organizationEndDate},
        #{taxpayerStartDate},#{taxpayerEndDate},#{bankStartDate},#{bankEndDate},#{representativeStartDate},#{representativeEndDate},
        #{createdBy},#{createdTime},#{updatedBy},#{updatedTime},#{removed})
    </insert>
    <!--添加资质的附件-->
    <insert id="addProviderAptitudeUrl">
        insert into t_accessory_url
        (id, brand_id_fk, violations_id_fk, provider_aptitude_id_fk, accessory_url, accessory_name,
        accessory_source, accessory_address, created_by, created_time, updated_by, updated_time, removed)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.brandIdFk}, #{item.violationsIdFk}, #{item.providerAptitudeIdFk}, #{item.accessoryUrl}, #{item.accessoryName},
            #{item.accessorySource}, #{item.accessoryAddress}, #{item.createdBy}, #{item.createdTime}, #{item.updatedBy}, #{item.updatedTime}, #{item.removed})
        </foreach>
    </insert>

    <!--编辑供应商资质-->
    <update id="updateProviderAptitude" parameterType="com.gugugou.provider.provider.model.Aptitude">
        update t_provider_aptitude
        <set >
            <if test="aptitudeStatus !=null" >
                aptitude_status = #{aptitudeStatus},
            </if>
            <if test="businessStartDate !=null ">
                business_start_date = #{businessStartDate},
            </if>
            <if test="businessEndDate !=null" >
                business_end_date = #{businessEndDate},
            </if>
            <if test="organizationStartDate !=null" >
                organization_start_date = #{organizationStartDate},
            </if>
            <if test="organizationEndDate !=null" >
                organization_end_date = #{organizationEndDate},
            </if>
            <if test="taxpayerStartDate !=null" >
                taxpayer_start_date = #{taxpayerStartDate},
            </if>
            <if test="taxpayerEndDate !=null" >
                taxpayer_end_date = #{taxpayerEndDate},
            </if>
            <if test="bankStartDate !=null" >
                bank_start_date = #{bankStartDate},
            </if>
            <if test="bankEndDate !=null" >
                bank_end_date = #{bankEndDate},
            </if>
            <if test="representativeStartDate !=null" >
                representative_start_date = #{representativeStartDate},
            </if>
            <if test="representativeEndDate !=null" >
                representative_end_date = #{representativeEndDate},
            </if>
            <if test="updatedBy !=null" >
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime !=null" >
                updated_time = #{updatedTime},
            </if>
            <if test="removed !=null" >
                removed = #{removed}
            </if>
        </set>
        where provider_id_fk = #{providerIdFk};
    </update>

    <!--编辑供应商资质附件-->
   <!-- <update id="updateProviderAptitudeUrl" parameterType="com.gugugou.provider.aptitude.model.AccessoryUrlModel">
        update t_accessory_url
        <set>
           <if test="accessoryUrl != null">
                accessory_url = #{accessoryUrl},
            </if>
            <if test="accessoryName != null">
                accessory_name = #{accessoryName},
            </if>
            <if test="accessorySource != null">
                accessory_source = #{accessorySource},
            </if>
            <if test="accessoryAddress != null">
                accessory_address = #{accessoryAddress},
            </if>
            <if test="updatedBy !=null" >
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime !=null" >
                updated_time = #{updatedTime},
            </if>
            <if test="removed !=null" >
                removed = #{removed}
            </if>
        </set>
        where provider_aptitude_id_fk = #{providerAptitudeIdFk};
    </update>-->


    <!--查询资质信息根据id-->
    <select id="selectAptitude" parameterType="int" resultMap="findAptitudeById">
        SELECT * from t_provider_aptitude p where p.provider_id_fk = #{providerIdFk}
    </select>

   <!--查看资质信息的映射-->
    <resultMap id="findAptitudeById" type="com.gugugou.provider.provider.model.Aptitude">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="provider_id_fk" property="providerIdFk" jdbcType="INTEGER"/>
        <result column="aptitude_status" property="aptitudeStatus" jdbcType="INTEGER"/>
        <result column="business_start_date" property="businessStartDate" jdbcType="DATE"/>
        <result column="business_end_date" property="businessEndDate" jdbcType="VARCHAR"/>
        <result column="organization_start_date" property="organizationStartDate" jdbcType="DATE"/>
        <result column="organization_end_date" property="organizationEndDate" jdbcType="VARCHAR"/>
        <result column="taxpayer_start_date" property="taxpayerStartDate" jdbcType="DATE"/>
        <result column="taxpayer_end_date" property="taxpayerEndDate" jdbcType="VARCHAR"/>
        <result column="bank_start_date" property="bankStartDate" jdbcType="DATE"/>
        <result column="bank_end_date" property="bankEndDate" jdbcType="VARCHAR"/>
        <result column="representative_start_date" property="representativeStartDate" jdbcType="DATE"/>
        <result column="representative_end_date" property="representativeEndDate" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="DATE"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="DATE"/>
        <result column="removed" property="removed" jdbcType="INTEGER"/>
    </resultMap>

    <!--查找供应商资质相对应的附件-->
    <select id="selectAccessoryUrlModelList" parameterType="com.gugugou.provider.aptitude.model.AccessoryUrlModel" resultMap="findAptitudeUrl">
         select
         a.provider_aptitude_id_fk,
         a.accessory_url,
         a.accessory_name,
         a.accessory_source,
         a.accessory_address,
         a.updated_by,
         a.updated_time
         from t_accessory_url a
         where a.provider_aptitude_id_fk = #{providerAptitudeIdFk} and a.accessory_name = #{accessoryName}
    </select>

    <resultMap id="findAptitudeUrl" type="com.gugugou.provider.aptitude.model.AccessoryUrlModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="provider_aptitude_id_fk" property="providerAptitudeIdFk" jdbcType="INTEGER"/>
        <result column="accessory_url" property="accessoryUrl" jdbcType="VARCHAR"/>
        <result column="accessory_name" property="accessoryName" jdbcType="VARCHAR"/>
        <result column="accessory_source" property="accessorySource" jdbcType="VARCHAR"/>
        <result column="accessory_address" property="accessoryAddress" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="DATE"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="DATE"/>
        <result column="removed" property="removed" jdbcType="INTEGER"/>
    </resultMap>


</mapper>