<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gugugou.provider.aptitude.dao.BrandDao">
    <!--新增品牌资质-->
    <insert id="addBrand" useGeneratedKeys="true" keyProperty="id">
        insert into t_brand
        (id, brand_name, type_id, type, provider_id_fk, provider_name, provider_auth_level,
        aptitude_status, trademark_start_date, trademark_end_date, brand_introduce, trade_type,
        buckle_point, send_order_weight, trademark_register_start_date, trademark_register_end_date,
        producer_deal_start_date, producer_deal_end_date, health_certificate_start_date, health_certificate_end_date,
        created_by, created_time, updated_by, updated_time, removed)
        values
        (#{id}, #{brandName}, #{typeId}, #{type}, #{providerIdFk}, #{providerName}, #{providerAuthLevel}, #{aptitudeStatus},
        #{trademarkStartDate}, #{trademarkEndDate}, #{brandIntroduce}, #{tradeType}, #{bucklePoint}, #{sendOrderWeight},
        #{trademarkRegisterStartDate}, #{trademarkRegisterEndDate}, #{producerDealStartDate}, #{producerDealEndDate},
        #{healthCertificateStartDate}, #{healthCertificateEndDate}, #{createdBy}, #{createdTime}, #{updatedBy}, #{updatedTime},
        #{removed})
    </insert>
    <!--批量新增品牌资质的附件-->
    <insert id="addAccessoryList" parameterType="list" useGeneratedKeys="false" >
        insert into t_accessory_url
        (id, t_provider_fk, accessory_url, accessory_name, accessory_source, accessory_address, created_by, created_time, updated_by, updated_time, removed)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.tProviderFk}, #{item.accessoryUrl}, #{item.accessoryName}, #{item.accessorySource}, #{item.accessoryAddress},
            #{item.createdBy}, #{item.createdTime}, #{item.updatedBy}, #{item.updatedTime}, #{item.removed})
        </foreach>
    </insert>
</mapper>