<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gugugou.provider.aptitude.dao.BrandDao">
    <resultMap id="BaseResultMap" type="com.gugugou.provider.aptitude.model.BrandModel">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="brand_id" property="brandId" jdbcType="BIGINT"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="type_id" property="typeId" jdbcType="BIGINT"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="provider_id_fk" property="providerIdFk" jdbcType="BIGINT"/>
        <result column="provider_name" property="providerName" jdbcType="VARCHAR"/>
        <result column="provider_auth_level" property="providerAuthLevel" jdbcType="INTEGER"/>
        <result column="trademark_status" property="trademarkStatus" jdbcType="INTEGER"/>
        <result column="trademark_start_date" property="trademarkStartDate" jdbcType="TIMESTAMP"/>
        <result column="trademark_end_date" property="trademarkEndDate" jdbcType="VARCHAR"/>
        <result column="brand_introduce" property="brandIntroduce" jdbcType="VARCHAR"/>
        <result column="trade_type" property="tradeType" jdbcType="INTEGER"/>
        <result column="buckle_point" property="bucklePoint" jdbcType="INTEGER"/>
        <result column="send_order_weight" property="sendOrderWeight" jdbcType="INTEGER"/>
        <result column="trademark_register_start_date" property="trademarkRegisterStartDate" jdbcType="TIMESTAMP"/>
        <result column="trademark_register_end_date" property="trademarkRegisterEndDate" jdbcType="VARCHAR"/>
        <result column="producer_deal_start_date" property="producerDealStartDate" jdbcType="TIMESTAMP"/>
        <result column="producer_deal_end_date" property="producerDealEndDate" jdbcType="VARCHAR"/>
        <result column="health_certificate_start_date" property="healthCertificateStartDate" jdbcType="TIMESTAMP"/>
        <result column="health_certificate_end_date" property="healthCertificateEndDate" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result column="removed" property="removed" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="FkResultMap" type="com.gugugou.provider.aptitude.model.AccessoryUrlModel">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="brand_id_fk" property="brandIdFk" jdbcType="BIGINT"/>
        <result column="violations_id_fk" property="violationsIdFk" jdbcType="BIGINT"/>
        <result column="provider_aptitude_id_fk" property="providerAptitudeIdFk" jdbcType="BIGINT"/>
        <result column="accessory_url" property="accessoryUrl" jdbcType="VARCHAR"/>
        <result column="accessory_name" property="accessoryName" jdbcType="VARCHAR"/>
        <result column="accessory_source" property="accessorySource" jdbcType="INTEGER"/>
        <result column="accessory_address" property="accessoryAddress" jdbcType="INTEGER"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result column="removed" property="removed" jdbcType="INTEGER"/>
    </resultMap>
    <!--新增品牌资质-->
    <insert id="addAptitude" parameterType="com.gugugou.provider.aptitude.model.BrandModel" useGeneratedKeys="true" keyProperty="id">
        insert into t_brand
        (id, brand_id, brand_name, type_id, type_name, provider_id_fk, provider_name, provider_auth_level,
        trademark_status, trademark_start_date, trademark_end_date, brand_introduce, trade_type,
        buckle_point, send_order_weight, trademark_register_start_date, trademark_register_end_date,
        producer_deal_start_date, producer_deal_end_date, health_certificate_start_date, health_certificate_end_date,
        created_by, created_time, updated_by, updated_time, removed)
        values
        (#{id}, #{brandId}, #{brandName}, #{typeId}, #{typeName}, #{providerIdFk}, #{providerName}, #{providerAuthLevel}, #{trademarkStatus},
        #{trademarkStartDate}, #{trademarkEndDate}, #{brandIntroduce}, #{tradeType}, #{bucklePoint}, #{sendOrderWeight},
        #{trademarkRegisterStartDate}, #{trademarkRegisterEndDate}, #{producerDealStartDate}, #{producerDealEndDate},
        #{healthCertificateStartDate}, #{healthCertificateEndDate}, #{createdBy}, #{createdTime}, #{updatedBy}, #{updatedTime},
        #{removed})
    </insert>
    <!--批量新增品牌资质的附件-->
    <insert id="addAccessoryList" parameterType="list" useGeneratedKeys="false" >
        insert into t_accessory_url
        (id, brand_id_fk, violations_id_fk, provider_aptitude_id_fk, accessory_url, accessory_name,
        accessory_source, accessory_address, created_by, created_time, updated_by, updated_time, removed)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.brandIdFk}, #{item.violationsIdFk}, #{item.providerAptitudeIdFk}, #{item.accessoryUrl}, #{item.accessoryName},
            #{item.accessorySource}, #{item.accessoryAddress}, #{item.createdBy}, #{item.createdTime}, #{item.updatedBy}, #{item.updatedTime}, #{item.removed})
        </foreach>
    </insert>
<!--条件查询字段-->
    <sql id="pageConditions">
        <where>
            removed = 0
            <if test="brandId != null" >
                and brand_id like concat('%', #{brandId}, '%')
            </if>
            <if test="brandName != '' and brandName != null">
                and brand_name like concat('%', #{brandName}, '%')
            </if>
            <if test="providerName != '' and providerName != null" >
                and provider_name like concat('%', #{providerName}, '%')
            </if>
            <if test="typeName != '' and typeName != null">
                and type_name like concat('%', #{typeName}, '%')
            </if>
            <if test="trademarkStatus != null">
                and trademark_status like concat('%', #{trademarkStatus}, '%')
            </if>
        </where>
    </sql>
<!--基本字段-->
    <sql id="baseColumnList">
        id,
        brand_id,
        brand_name,
        type_id,
        type_name,
        provider_id_fk,
        provider_name,
        provider_auth_level,
        trademark_status,
        trademark_start_date,
        trademark_end_date,
        brand_introduce,
        trade_type,
        buckle_point,
        send_order_weight,
        trademark_register_start_date,
        trademark_register_end_date,
        producer_deal_start_date,
        producer_deal_end_date,
        health_certificate_start_date,
        health_certificate_end_date,
        created_by,
        created_time,
        updated_by,
        updated_time,
        removed
    </sql>
    <!--分页查询品牌列表-->
    <select id="selectAptitudeListByPage" parameterType="com.gugugou.provider.aptitude.model.BrandModel" resultMap="BaseResultMap">
        select <include refid="baseColumnList"/>
        from t_brand
        <include refid="pageConditions"/>
        order by created_time desc
        limit #{pageIndex}, #{pageSize}
    </select>

    <!--查询品牌数据-->
    <select id="selectAptitudeList" resultMap="BaseResultMap">
        select <include refid="baseColumnList"/>
        from t_brand
        where removed = 0;
    </select>

<!--查询品牌列表数据条数-->
    <select id="selectAptitudeListCount" parameterType="com.gugugou.provider.aptitude.model.BrandModel" resultType="Long">
        select count(1)
        from t_brand
        <include refid="pageConditions"/>
    </select>

<!--查询单条品牌数据详情-->
    <select id="getAptitudeById" parameterType="Long" resultMap="BaseResultMap">
        select <include refid="baseColumnList"/>
        from t_brand
        where id = #{id}
    </select>
<!--根据品牌数据主键id查询附件-->
    <select id="getAccessoryByBrandIdFk" parameterType="Long" resultMap="FkResultMap">
        select
        id,
        brand_id_fk,
        violations_id_fk,
        provider_aptitude_id_fk,
        accessory_url,
        accessory_name,
        accessory_source,
        accessory_address,
        created_by,
        created_time,
        updated_by,
        updated_time,
        removed
        from t_accessory_url
        where brand_id_fk = #{brandIdFk} and accessory_source = 1 and removed = 0;
    </select>

<!--编辑品牌资质-->
    <update id="updateAptitude" parameterType="com.gugugou.provider.aptitude.model.BrandModel">
        update t_brand
        <set >
            <if test="brandId !=null" >
                brand_id = #{brandId},
            </if>
            <if test="brandName !=null ">
                brand_name = #{brandName},
            </if>
            <if test="typeId !=null" >
                type_id = #{typeId},
            </if>
            <if test="typeName !=null" >
                type_name = #{typeName},
            </if>
            <if test="providerIdFk !=null" >
                provider_id_fk = #{providerIdFk},
            </if>
            <if test="providerName !=null" >
                provider_name = #{providerName},
            </if>
            <if test="providerAuthLevel !=null" >
                provider_auth_level = #{providerAuthLevel},
            </if>
            <if test="trademarkStatus !=null" >
                trademark_status = #{trademarkStatus},
            </if>
            <if test="trademarkStartDate !=null" >
                trademark_start_date = #{trademarkStartDate},
            </if>
            <if test="trademarkEndDate !=null" >
                trademark_end_date = #{trademarkEndDate},
            </if>
            <if test="brandIntroduce !=null" >
                brand_introduce = #{brandIntroduce},
            </if>
            <if test="tradeType !=null" >
                trade_type = #{tradeType},
            </if>
            <if test="bucklePoint !=null" >
                buckle_point = #{bucklePoint},
            </if>
            <if test="sendOrderWeight !=null" >
                send_order_weight = #{sendOrderWeight},
            </if>
            <if test="trademarkRegisterStartDate !=null" >
                trademark_register_start_date = #{trademarkRegisterStartDate},
            </if>
            <if test="trademarkRegisterEndDate !=null" >
                trademark_register_end_date = #{trademarkRegisterEndDate},
            </if>
            <if test="producerDealStartDate !=null" >
                producer_deal_start_date = #{producerDealStartDate},
            </if>
            <if test="producerDealEndDate !=null" >
                producer_deal_end_date = #{producerDealEndDate},
            </if>
            <if test="healthCertificateStartDate !=null" >
                health_certificate_start_date = #{healthCertificateStartDate},
            </if>
            <if test="healthCertificateEndDate !=null" >
                health_certificate_end_date = #{healthCertificateEndDate},
            </if>
            <if test="updatedBy !=null" >
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime !=null" >
                updated_time = #{updatedTime},
            </if>
            <if test="removed !=null" >
                removed = #{removed}
            </if>
        </set>
        where id = #{id};
    </update>

<!--编辑品牌资质附件-->
    <update id="updateAccessory" parameterType="com.gugugou.provider.aptitude.model.AccessoryUrlModel">
        update t_accessory_url
        <set>
            <if test="accessoryUrl != null">
                accessory_url = #{accessoryUrl},
            </if>
            <if test="accessoryName != null">
                accessory_name = #{accessoryName},
            </if>
            <if test="accessorySource != null">
                accessory_source = #{accessorySource},
            </if>
            <if test="accessoryAddress != null">
                accessory_address = #{accessoryAddress},
            </if>
            <if test="updatedBy !=null" >
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime !=null" >
                updated_time = #{updatedTime},
            </if>
            <if test="removed !=null" >
                removed = #{removed}
            </if>
        </set>
            where id = #{id};
    </update>

<!--删除品牌资质附件-->
    <delete id="deleteAccessory" parameterType="com.gugugou.provider.aptitude.model.AccessoryUrlModel">
        update t_accessory_url
        set removed = 1, updated_by = #{updatedBy}, updated_time = #{updatedTime}
        where id = #{id};
    </delete>

<!--查询品牌在该类目下的其他供应商（新增品牌资质用）-->
    <select id="selectProviderPriorityList" parameterType="com.gugugou.provider.aptitude.model.BrandModel" resultMap="BaseResultMap">
        select
        id,
        provider_name,
        send_order_weight
        from t_brand
        where brand_id = #{brandId}
        and type_id = #{typeId}
        and removed = 0;
    </select>

    <!--查询品牌在该类目下的其他供应商（修改优先级用）-->
    <select id="selectProviderPriorityListOne" parameterType="com.gugugou.provider.aptitude.model.BrandModel" resultMap="BaseResultMap">
        select
        id,
        provider_name,
        send_order_weight
        from t_brand
        where brand_id = #{brandId}
        and type_id = #{typeId}
        and removed = 0
        and send_order_weight != 0
        and id != #{id}
        order by send_order_weight asc;
    </select>

    <!--查询品牌在该类目下的其他供应商（扣点降序）-->
    <select id="selectProviderBucklePointList" parameterType="com.gugugou.provider.aptitude.model.BrandModel" resultMap="BaseResultMap">
        select
        id,
        provider_name,
        buckle_point
        from t_brand
        where brand_id = #{brandId}
        and type_id = #{typeId}
        and removed = 0
        and send_order_weight != 0
        and id != #{id}
        order by buckle_point desc;
    </select>

<!--修改派单优先级-->
    <update id="updateProvider" parameterType="com.gugugou.provider.aptitude.model.BrandModel">
        update t_brand
        set send_order_weight = #{sendOrderWeight}, updated_by = #{updatedBy}, updated_time = #{updatedTime}
        where id = #{id};
    </update>

    <!--修改扣点-->
    <update id="updateBucklePoint" parameterType="com.gugugou.provider.aptitude.model.BrandModel">
        update t_brand
        <set>
            <if test="bucklePoint != null">
                buckle_point = #{bucklePoint},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime}
            </if>
        </set>
        where id = #{id};
    </update>

<!--查询资质到期时间和采购负责人邮箱-->
    <select id="selectList" resultType="com.gugugou.provider.aptitude.dto.response.SelectListDTO">
        select
        tp.principal_email principalEmail,
        tb.id id,
        tb.trademark_end_date trademarkEndDate
        from
        t_provider as tp
        join t_brand as tb
        on tp.id = tb.provider_id_fk
        and tp.removed = 0
        and tb.removed = 0;
    </select>

<!--根据品牌查询供应商列表-->
    <select id="selectProviderListByBrandId" parameterType="com.gugugou.provider.aptitude.model.BrandModel" resultMap="BaseResultMap">
        select
        id,
        provider_id_fk,
        provider_name,
        buckle_point
        from t_brand
        <set>
            <if test="providerName != null">
                provider_name like concat('%', #{providerName}, '%')
            </if>
        </set>
        where removed = 0
        and trademark_status != 2
        and brand_id = #{brandId}
        and type_id = #{typeId}
        limit #{pageIndex}, #{pageSize};
    </select>

    <!--根据品牌查询供应商数据-->
    <select id="selectProviderByBrandId" parameterType="long" resultMap="BaseResultMap">
        select
        id,
        provider_id_fk,
        provider_name,
        buckle_point
        from t_brand
        where removed = 0
        and trademark_status != 2
        and brand_id = #{brandId};
    </select>
    <!--根据品牌和类目查询供应商列表数量-->
    <select id="selectProviderCountByBrandIdAndTypeId" parameterType="com.gugugou.provider.aptitude.model.BrandModel" resultMap="BaseResultMap">
        select count(1)
        from t_brand
        <set>
            <if test="providerName != null">
                provider_name like concat('%', #{providerName}, '%')
            </if>
        </set>
        where removed = 0
        and trademark_status != 2
        and brand_id = #{brandId};
    </select>
</mapper>