<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gugugou.provider.commodity.dao.EntrepotDao">
    <resultMap id="BaseResultMap" type="com.gugugou.provider.commodity.model.EntrepotModel">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="provider_id_fk" property="providerIdFk" jdbcType="BIGINT"/>
        <result column="provider_name" property="providerName" jdbcType="VARCHAR"/>
        <result column="entrepot_name" property="entrepotLatitude" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="entrepot_latitude" property="entrepotLatitude" jdbcType="VARCHAR"/>
        <result column="physical_inventory" property="physicalInventory" jdbcType="INTEGER"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result column="removed" property="removed" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 新建仓库-->
    <insert id="addEntrepot" parameterType="com.gugugou.provider.commodity.model.EntrepotModel" useGeneratedKeys="true"
            keyProperty="id">
            insert into t_provider_entrepot
            (id, provider_id_fk, provider_name, entrepot_name, address, entrepot_latitude, physical_inventory, created_by, created_time,
            updated_by, updated_time, removed)
            values
            (#{id}, #{providerIdFk}, #{providerName}, #{entrepotName}, #{address}, #{entrepotLatitude}, #{physicalInventory}, #{createdBy}, #{createdTime},
            #{updatedBy}, #{updatedTime}, #{removed})
    </insert>

    <!--基本字段-->
    <sql id="baseColumnList">
       id,
       provider_id_fk,
       provider_name,
       entrepot_name,
       address,
       entrepot_latitude,
       physical_inventory,
       created_by,
       created_time,
       updated_by,
       updated_time,
       removed
    </sql>

    <!--条件查询字段-->
    <sql id="pageConditions">
        <where>
            removed = 0
            <if test="providerName != '' and providerName != null" >
                and provider_name like concat('%', #{providerName}, '%')
            </if>
            <if test="entrepotName != '' and brandName != null">
                and entrepot_name like concat('%', #{entrepotName}, '%')
            </if>
        </where>
    </sql>

    <!--分页查询仓库列表-->
    <select id="selectEntrepotListByPage" parameterType="com.gugugou.provider.commodity.model.EntrepotModel" resultMap="BaseResultMap">
        select <include refid="baseColumnList"/>
        from t_provider_entrepot <include refid="pageConditions"/>
        order by created_time desc
        limit #{pageIndex}, #{pageSize}
    </select>

    <!--查询仓库列表数据条数-->
    <select id="selectEntrepotListCount" parameterType="com.gugugou.provider.commodity.model.EntrepotModel" resultType="integer">
        select count(1)
        from t_provider_entrepot
        <include refid="pageConditions"/>
    </select>

<!--查看单条仓库数据（编辑查看回显用）-->
    <select id="getEntrepotById" parameterType="integer" resultMap="BaseResultMap">
        select <include refid="baseColumnList"/>
        from t_provider_entrepot
        where id = #{id}
    </select>

<!--编辑仓库-->
    <update id="updateEntrepot" parameterType="com.gugugou.provider.aptitude.model.BrandModel">
        update t_provider_entrepot
        <set >
            <if test="brandId !=null" >
                provider_name = #{brandId},
            </if>
            <if test="brandName !=null ">
                entrepot_name = #{brandName},
            </if>
            <if test="typeId !=null" >
                type_id = #{typeId},
            </if>
            <if test="typeName !=null" >
                type_name = #{typeName},
            </if>
            <if test="providerIdFk !=null" >
                provider_id_fk = #{providerIdFk},
            </if>
            <if test="providerName !=null" >
                provider_name = #{providerName},
            </if>
            <if test="providerAuthLevel !=null" >
                provider_auth_level = #{providerAuthLevel},
            </if>
            <if test="trademarkStatus !=null" >
                trademark_status = #{trademarkStatus},
            </if>
            <if test="trademarkStartDate !=null" >
                trademark_start_date = #{trademarkStartDate},
            </if>
            <if test="trademarkEndDate !=null" >
                trademark_end_date = #{trademarkEndDate},
            </if>
            <if test="brandIntroduce !=null" >
                brand_introduce = #{brandIntroduce},
            </if>
            <if test="tradeType !=null" >
                trade_type = #{tradeType},
            </if>
            <if test="bucklePoint !=null" >
                buckle_point = #{bucklePoint},
            </if>
            <if test="sendOrderWeight !=null" >
                send_order_weight = #{sendOrderWeight},
            </if>
            <if test="trademarkRegisterStartDate !=null" >
                trademark_register_start_date = #{trademarkRegisterStartDate},
            </if>
            <if test="trademarkRegisterEndDate !=null" >
                trademark_register_end_date = #{trademarkRegisterEndDate},
            </if>
            <if test="producerDealStartDate !=null" >
                producer_deal_start_date = #{producerDealStartDate},
            </if>
            <if test="producerDealEndDate !=null" >
                producer_deal_end_date = #{producerDealEndDate},
            </if>
            <if test="healthCertificateStartDate !=null" >
                health_certificate_start_date = #{healthCertificateStartDate},
            </if>
            <if test="healthCertificateEndDate !=null" >
                health_certificate_end_date = #{healthCertificateEndDate},
            </if>
            <if test="updatedBy !=null" >
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime !=null" >
                updated_time = #{updatedTime},
            </if>
            <if test="removed !=null" >
                removed = #{removed}
            </if>
        </set>
        where id = #{id};
    </update>
</mapper>