<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gugugou.provider.provider.dao.InformationDao">

    <!--添加供应商基本信息-->
    <insert id="addInformation" useGeneratedKeys="true" keyProperty="id">
        insert into t_provider
         (provider_id_fk,settlement_interval,settlement_interval_relation,company_name,company_email,contact_id,contact_start_date,contact_end_date,contract_status,is_contact_extension,company_address,permit_number,
          business_people,business_people_card_id,source,is_taxpayer,manage_method,company_introduce,manage_status,change_reason,platform_principal,principal_email,
          created_by, created_time, updated_by, updated_time, removed)
          values
          (#{providerIdFk},#{settlementInterval},#{settlementIntervalRelation},#{companyName},#{companyEmail},#{contactId},#{contactStartDate},#{contactEndDate},#{contractStatus},#{isContactExtension},#{companyAddress},
          #{permitNumber},#{businessPeople},#{businessPeopleCardId},#{source},#{isTaxpayer},#{manageMethod},#{companyIntroduce},#{manageStatus},#{changeReason},#{platformPrincipal},#{principalEmail}
          #{createdBy}, #{createdTime}, #{updatedBy}, #{updatedTime}, #{removed})

    </insert>
    <!--添加联系人-->
    <insert id="addInformationContact">
        insert into t_provider_contact
        (provider_id_fk,contact_type,contact_name,contact_phone,contact_email,contact_dingding,created_by, created_time, updated_by, updated_time, removed)
        values
        (#{providerIdFk},#{contactType},#{contactName},#{contactPhone},#{contactEmail}, #{contactDingding},#{createdBy},#{createdTime},#{updatedBy}, #{updatedTime}, #{removed})
    </insert>

    <!--查看基本信息-->
    <select id="findInformationById" parameterType="int" resultMap="InformationById">
         SELECT * from t_provider p left JOIN t_provider_contact  c on p.provider_id_fk = c.provider_id_fk where p.provider_id_fk = #{id}
    </select>

    <resultMap id="InformationById" type="com.gugugou.provider.provider.model.Information">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="company_email" property="companyEmail" jdbcType="VARCHAR"/>
        <result column="manage_method" property="manageMethod" jdbcType="INTEGER"/>
        <result column="contact_id" property="contactId" jdbcType="VARCHAR"/>
        <result column="contact_start_date" property="contactStartDate" jdbcType="VARCHAR"/>
        <result column="contact_end_date" property="contactEndDate" jdbcType="VARCHAR"/>
        <result column="is_contact_extension" property="isContactExtension" jdbcType="INTEGER"/>
        <result column="company_address" property="companyAddress" jdbcType="VARCHAR"/>
        <result column="permit_number" property="permitNumber" jdbcType="VARCHAR"/>
        <result column="business_people" property="businessPeople" jdbcType="VARCHAR"/>
        <result column="business_people_card_id" property="businessPeopleCardId" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="INTEGER"/>
        <result column="is_taxpayer" property="isTaxpayer" jdbcType="INTEGER"/>
        <result column="company_introduce" property="companyIntroduce" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="DATE"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="DATE"/>
        <result column="removed" property="removed" jdbcType="INTEGER"/>
        <result column="provider_id_fk" property="providerIdFk" jdbcType="INTEGER"/>
        <result column="settlement_interval" property="settlementInterval" jdbcType="INTEGER"/>
        <result column="settlement_interval_relation" property="settlementIntervalRelation" jdbcType="INTEGER"/>
        <result column="manage_status" property="manageStatus" jdbcType="INTEGER"/>
        <result column="change_reason" property="changeReason" jdbcType="VARCHAR"/>
    </resultMap>

    <!--修改供应商的基本信息-->
    <update id="updateInformation" >
        UPDATE t_provider
        <set >
            <if test="settlementInterval !=null" >
                settlement_interval = #{settlementInterval},
            </if>
            <if test="settlementIntervalRelation !=null" >
                settlement_interval_relation = #{settlementIntervalRelation},
            </if>
            <if test="companyName !=null" >
                company_name = #{companyName},
            </if>
            <if test="companyEmail !=null" >
                company_email = #{companyEmail},
            </if>
            <if test="manageMethod !=null" >
                manage_method = #{manageMethod},
            </if>
            <if test="contactId !=null" >
                contact_id = #{contactId},
            </if>
            <if test="contactStartDate !=null" >
                contact_start_date = #{contactStartDate},
            </if>
            <if test=" contactEndDate !=null" >
                contact_end_date = #{contactEndDate},
            </if>
            <if test="isContactExtension !=null" >
                is_contact_extension = #{isContactExtension},
            </if>
            <if test="companyAddress !=null" >
                company_address = #{companyAddress},
            </if>
            <if test="permitNumber !=null" >
                permit_number = #{permitNumber},
            </if>
            <if test="businessPeople !=null" >
                business_people = #{businessPeople},
            </if>
            <if test="businessPeopleCardId !=null" >
                business_people_card_id = #{businessPeopleCardId},
            </if>
            <if test="source !=null" >
                source = #{source},
            </if>
            <if test="isTaxpayer !=null" >
                is_taxpayer = #{isTaxpayer},
            </if>
            <if test="companyIntroduce !=null" >
                company_introduce = #{companyIntroduce},
            </if>
            <if test="providerIdFk !=null" >
                provider_id_fk = #{providerIdFk},
            </if>
            <if test="settlementInterval !=null" >
                settlement_interval = #{settlementInterval},
            </if>
            <if test="manageStatus !=null" >
                manage_status = #{manageStatus},
            </if>
            <if test="changeReason !=null" >
                change_reason = #{changeReason},
            </if>
            <if test="updatedBy !=null" >
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime !=null" >
                updated_time = #{updatedTime},
            </if>
            <if test="removed !=null" >
                removed = #{removed},
            </if>
        </set>
        where provider_id_fk = #{providerIdFk}
    </update>

     <!--修改联系人-->
    <update id="updateInformationContact" >
        UPDATE t_provider_contact
        <set >
            <if test="contactType !=null" >
                contact_type = #{contactType},
            </if>
            <if test="contactName !=null" >
                contact_name = #{contactName},
            </if>
            <if test="contactPhone !=null" >
                contact_phone = #{contactPhone},
            </if>
            <if test="contactDingding !=null" >
                contact_dingding= #{contactDingding},
            </if>
            <if test=" contactEmail !=null" >
                contact_email = #{contactEmail},
            </if>
            <if test="updatedBy !=null" >
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime !=null" >
                updated_time = #{updatedTime},
            </if>
            <if test="removed !=null" >
                removed = #{removed},
            </if>
        </set>
        where provider_id_fk = #{providerIdFk}
    </update>

    <!--修改供应商的经营状态及原因-->
    <update id="updateInformationStatus">
        update t_provider set manage_status = #{manageStatus},change_reason=#{changeReason} where provider_id_fk = #{providerIdFk}
    </update>

    <!--修改采购负责人-->
    <update id="updateContactName">
          update t_provider set platform_principal = #{platformPrincipal},principal_email=#{principalEmail} where provider_id_fk = #{providerIdFk}
    </update>

    <!--查找所有供应商-->
    <select id="findAllProviders" parameterType="com.gugugou.provider.provider.model.QueryField" resultMap="findAllProvidersMap">
        SELECT
        t_provider.provider_id_fk,
        t_provider.company_name,
        t_provider.company_email,
        CASE
        manage_status
        WHEN 0 THEN '新进商家'
        WHEN 1 THEN '储备商家'
        WHEN 2 THEN '正常商家'
        WHEN 3 THEN '监督整改'
        WHEN 4 THEN '黑名单'
        ELSE '暂停合作'
        END AS manage_status,
        CASE
        manage_method
        WHEN 0 THEN '经销'
        ELSE '代销'
        END AS manage_method,
        t_provider.platform_principal,
        concat_ws(
        ',',
        CASE
        settlement_interval
        WHEN 0 THEN
        '日'
        WHEN 1 THEN
        '周'
        WHEN 2 THEN
        '半月'
        WHEN 3 THEN
        '月' ELSE '年'
        END,
        NULL
        ) AS settlement_interval,
        CASE
        provider_auth_level
        WHEN 0 THEN '品牌商'
        WHEN 1 THEN '一级经销商'
        WHEN 2 THEN '二级经销商'
        WHEN 3 THEN '三级经销商'
        ELSE '代销'
        END AS provider_auth_level,
        GROUP_CONCAT( t_brand.brand_name ) AS brand_name,
        GROUP_CONCAT( t_brand.type_name ) AS type_name,
        DATEDIFF(t_provider.contact_end_date,curdate())  mm,
        CASE
        WHEN DATEDIFF(t_provider.contact_end_date,curdate()) > 30 THEN '正常'
        WHEN DATEDIFF(t_provider.contact_end_date,curdate()) = 30 THEN '即将过期'
        WHEN 30 > DATEDIFF(t_provider.contact_end_date,curdate()) > 15 THEN '即将过期'
        WHEN DATEDIFF(t_provider.contact_end_date,curdate()) &lt;= 15 THEN '即将过期'
        WHEN DATEDIFF(t_provider.contact_end_date,curdate()) &lt; 0 THEN '过期'
        ELSE '过期'
        END AS contract_status,
        t_provider.contact_end_date,
        CASE
        is_contact_extension
        WHEN 0 THEN
        '续约' ELSE '不续约'
        END AS is_contact_extension
        FROM
        t_provider
        LEFT JOIN t_finance ON t_provider.provider_id_fk = t_finance.provider_id_fk
        LEFT JOIN t_brand ON t_provider.provider_id_fk = t_brand.provider_id_fk
       where 1=1
            <if test="companyName !=null and companyName != ''" >
               and company_name = #{companyName,jdbcType=VARCHAR}
            </if>
            <if test="manageStatus !=null and manageStatus != ''" >
               AND manage_status = #{manageStatus,jdbcType=INTEGER}
            </if>
            <if test="manageMethod !=null and manageMethod != ''" >
               AND manage_method = #{manageMethod,jdbcType=INTEGER}
            </if>
            <if test="contractStatus !=null and manageStatus != ''" >
               AND contract_status = #{contractStatus,jdbcType=INTEGER}
            </if>
            <if test="brandName !=null and brandName != ''" >
               AND brand_name = #{brandName,jdbcType=VARCHAR}
            </if>
        GROUP BY
        t_provider.provider_id_fk limit ${pageIndex}, ${pageSize}

    </select>

    <select id="findAllProvidersCount" resultType="java.lang.Integer" parameterType="com.gugugou.provider.provider.model.QueryField">
        select count(*) as count from (
        SELECT
        t_provider.provider_id_fk,
        t_provider.company_name,
        t_provider.company_email,
        CASE
        manage_status
        WHEN 0 THEN '新进商家'
        WHEN 1 THEN '储备商家'
        WHEN 2 THEN '正常商家'
        WHEN 3 THEN '监督整改'
        WHEN 4 THEN '黑名单'
        ELSE '暂停合作'
        END AS manage_status,
        CASE
        manage_method
        WHEN 0 THEN '经销'
        ELSE '代销'
        END AS manage_method,
        t_provider.platform_principal,
        concat_ws(
        ',',
        CASE
        settlement_interval
        WHEN 0 THEN
        '日'
        WHEN 1 THEN
        '周'
        WHEN 2 THEN
        '半月'
        WHEN 3 THEN
        '月' ELSE '年'
        END,
        NULL
        ) AS settlement_interval,
        CASE
        provider_auth_level
        WHEN 0 THEN '品牌商'
        WHEN 1 THEN '一级经销商'
        WHEN 2 THEN '二级经销商'
        WHEN 3 THEN '三级经销商'
        ELSE '代销'
        END AS provider_auth_level,
        GROUP_CONCAT( t_brand.brand_name ) AS brand_name,
        GROUP_CONCAT( t_brand.type_name ) AS type_name,
        DATEDIFF(t_provider.contact_end_date,curdate())  mm,
        CASE
        WHEN DATEDIFF(t_provider.contact_end_date,curdate()) > 30 THEN '正常'
        WHEN DATEDIFF(t_provider.contact_end_date,curdate()) = 30 THEN '即将过期'
        WHEN 30 > DATEDIFF(t_provider.contact_end_date,curdate()) > 15 THEN '即将过期'
        WHEN DATEDIFF(t_provider.contact_end_date,curdate()) &lt;= 15 THEN '即将过期'
        WHEN DATEDIFF(t_provider.contact_end_date,curdate()) &lt; 0 THEN '过期'
        ELSE '过期'
        END AS contract_status,
        t_provider.contact_end_date,
        CASE
        is_contact_extension
        WHEN 0 THEN
        '续约' ELSE '不续约'
        END AS is_contact_extension
        FROM
        t_provider
        LEFT JOIN t_finance ON t_provider.provider_id_fk = t_finance.provider_id_fk
        LEFT JOIN t_brand ON t_provider.provider_id_fk = t_brand.provider_id_fk
        where 1=1
        <if test="companyName !=null and companyName != ''" >
            and company_name like concat('%',#{companyName},'%')
        </if>
        <if test="manageStatus !=null and manageStatus != ''" >
            AND manage_status like concat('%',#{manageStatus},'%')
        </if>
        <if test="manageMethod !=null and manageMethod != ''" >
            AND manage_method like concat('%',#{manageMethod},'%')
        </if>
        <if test="contractStatus !=null and manageStatus != ''" >
            AND contract_status like concat('%',#{contractStatus},'%')
        </if>
        <if test="brandName !=null and brandName != ''" >
            AND brand_name like concat('%',#{brandName},'%')
        </if>
        GROUP BY
        t_provider.provider_id_fk
        ) as t
    </select>

    <resultMap id="findAllProvidersMap" type="com.gugugou.provider.provider.model.QueryField">
        <result column="provider_id_fk" property="providerIdFk" jdbcType="INTEGER"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="company_email" property="companyEmail" jdbcType="VARCHAR"/>
        <result column="manage_status" property="manageStatus" jdbcType="INTEGER"/>
        <result column="platform_principal" property="platformPrincipal" jdbcType="VARCHAR"/>
        <result column="settlement_interval" property="settlementInterval" jdbcType="INTEGER"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="contract_status" property="contractStatus" jdbcType="VARCHAR"/>
        <result column="contact_end_date" property="contactEndDate" jdbcType="DATE"/>
        <result column="is_contact_extension" property="isContactExtension" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findProviderMaxId" resultType="int">
        select max(id) from t_provider
    </select>
    
</mapper>