<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gugugou.provider.provider.dao.ProviderDao">
    <!--添加供应商的财务信息-->
    <insert id="addProvider" useGeneratedKeys="true" keyProperty="id">
        insert into t_finance
        (id,provider_id_fk,open_bank,bank_number,branch_bank_name,account_name,bank_address,registered_address,bank_detail_address,
        registered_phone,invoice_title,invoice_recipients,invoice_recipients_phone,invoice_recipients_address,tax_code,tax_identification_number,
        alipay_account_name,alipay_number,created_by, created_time, updated_by, updated_time, removed)
        values
        (#{id},#{providerIdFk},#{openBank},#{bankNumber},#{branchBankName},#{accountName},#{bankAddress},#{registeredAddress},#{bankDetailAddress},
        #{registeredPhone},#{invoiceTitle},#{invoiceRecipients},#{invoiceRecipientsPhone},#{invoiceRecipientsAddress},#{taxCode},#{taxIdentificationNumber},
        #{alipayAccountName},#{alipayNumber},#{createdBy}, #{createdTime}, #{updatedBy}, #{updatedTime}, #{removed})
    </insert>
     <!--修改供应商的财务信息-->
    <update id="updateProvider" >
        UPDATE t_finance
        <set >
            <if test="id !=null" >
                id = #{id},
            </if>
            <if test="openBank !=null" >
                open_bank = #{openBank},
            </if>
            <if test="bankNumber !=null" >
                bank_number = #{bankNumber},
            </if>
            <if test="branchBankName !=null" >
                branch_bank_name = #{branchBankName},
            </if>
            <if test="accountName !=null" >
                account_name = #{accountName},
            </if>
            <if test="bankAddress !=null" >
                bank_address = #{bankAddress},
            </if>
            <if test=" registeredAddress !=null" >
                registered_address = #{registeredAddress},
            </if>
            <if test="bankDetailAddress !=null" >
                bank_detail_address = #{bankDetailAddress},
            </if>
            <if test="registeredPhone !=null" >
                registered_phone = #{registeredPhone},
            </if>
            <if test="invoiceTitle !=null" >
                invoice_title = #{invoiceTitle},
            </if>
            <if test="invoiceRecipients !=null" >
                invoice_recipients = #{invoiceRecipients},
            </if>
            <if test="invoiceRecipientsPhone !=null" >
                invoice_recipients_phone = #{invoiceRecipientsPhone},
            </if>
            <if test="invoiceRecipientsAddress !=null" >
                invoice_recipients_address = #{invoiceRecipientsAddress},
            </if>
            <if test="taxCode !=null" >
                tax_code = #{taxCode},
            </if>
            <if test="taxIdentificationNumber !=null" >
                tax_identification_number = #{taxIdentificationNumber},
            </if>
            <if test="alipayAccountName !=null" >
                alipay_account_name = #{alipayAccountName},
            </if>
            <if test="alipayNumber !=null" >
                alipay_number = #{alipayNumber},
            </if>
            <if test="updatedBy !=null" >
                updated_by = #{updatedBy},
            </if>
            <if test="updatedTime !=null" >
                updated_time = #{updatedTime},
            </if>
            <if test="removed !=null" >
                removed = #{removed},
            </if>
        </set>
        where provider_id_fk = #{providerIdFk}
    </update>

    <sql id="findProvider">
        provider_id_fk,open_bank,bank_number,branch_bank_name,account_name,bank_address,registered_address,bank_detail_address,
        registered_phone,invoice_title,invoice_recipients_phone,invoice_recipients_address,tax_code,tax_identification_number,
        alipay_account_name,alipay_number,created_by, created_time, updated_by, updated_time, removed
    </sql>
    <!--查找供应商的财务的信息根据fk-->
    <select id="findProvider" parameterType="Long" resultMap="ProviderResultMap">
        select <include refid="findProvider"></include>
        from t_finance where provider_id_fk = #{fk}
    </select>
    <!--查找供应商的财务的信息根据id-->
    <select id="selectBaseInfoByinformationId" resultMap="ProviderResultMap" parameterType="Long">
        select <include refid="findProvider"></include>
        from t_finance where provider_id_fk = #{id}
    </select>
    <!--查询映射-->
    <resultMap id="ProviderResultMap" type="com.gugugou.provider.provider.model.Finance">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="provider_id_fk" property="providerIdFk" jdbcType="INTEGER"/>
        <result column="open_bank" property="openBank" jdbcType="VARCHAR"/>
        <result column="bank_number" property="bankNumber" jdbcType="VARCHAR"/>
        <result column="branch_bank_name" property="branchBankName" jdbcType="VARCHAR"/>
        <result column="account_name" property="accountName" jdbcType="VARCHAR"/>
        <result column="bank_address" property="bankAddress" jdbcType="VARCHAR"/>
        <result column="registered_address" property="registeredAddress" jdbcType="VARCHAR"/>
        <result column="bank_detail_address" property="bankDetailAddress" jdbcType="VARCHAR"/>
        <result column="registered_phone" property="registeredPhone" jdbcType="VARCHAR"/>
        <result column="invoice_title" property="invoiceTitle" jdbcType="VARCHAR"/>
        <result column="invoice_recipients" property="invoiceRecipients" jdbcType="VARCHAR"/>
        <result column="invoice_recipients_phone" property="invoiceRecipientsPhone" jdbcType="VARCHAR"/>
        <result column="invoice_recipients_address" property="invoiceRecipientsAddress" jdbcType="VARCHAR"/>
        <result column="tax_code" property="taxCode" jdbcType="VARCHAR"/>
        <result column="tax_identification_number" property="taxIdentificationNumber" jdbcType="VARCHAR"/>
        <result column="alipay_account_name" property="alipayAccountName" jdbcType="VARCHAR"/>
        <result column="alipay_number" property="alipayNumber" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="VARCHAR"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="VARCHAR"/>
        <result column="removed" property="removed" jdbcType="INTEGER"/>
    </resultMap>
</mapper>