<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gugugou.provider.settlement.dao.SettlementManageDao">

    <!--  结算单管理字段映射  -->
    <resultMap id="settlementManageMap" type="com.gugugou.provider.settlement.model.SettlementManage">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="providerIdFk" column="provider_id_fk" jdbcType="BIGINT"/>
        <result property="providerName" column="provider_name" jdbcType="VARCHAR"/>
        <result property="settlementId" column="settlement_id" jdbcType="BIGINT"/>
        <result property="amountPayable" column="amount_payable" jdbcType="DECIMAL"/>
        <result property="settlementStatus" column="settlement_status" jdbcType="INTEGER"/>
        <result property="paymentOrderPrice" column="payment_order_price" jdbcType="DECIMAL"/>
        <result property="refundOrderPrice" column="refund_order_price" jdbcType="DECIMAL"/>
        <result property="violationsPrice" column="violations_price" jdbcType="DECIMAL"/>
        <result property="settlementBeginTime" column="settlement_begin_time" jdbcType="DATE"/>
        <result property="settlementEndTime" column="settlement_end_time" jdbcType="DATE"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="DATE"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="DATE"/>
        <result property="removed" column="removed" jdbcType="INTEGER"/>
    </resultMap>

    <!--  结算单管理表基础字段  -->
    <sql id="settlementManage_column_list">
        provider_id_fk, provider_name, settlement_id, amount_payable, settlement_status,
        payment_order_price, refund_order_price, violations_price, settlement_begin_time,
        settlement_end_time, created_by, created_time, updated_by, updated_time, removed
    </sql>

    <!--  新增结算单管理  -->
    <insert id="addSettlementManage" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
        parameterType="com.gugugou.provider.settlement.model.SettlementManage">
        insert into t_settlement_manage
            <include refid="settlementManage_column_list"/>
        values
            (#{id}, #{providerIdFk}, #{providerName}, #{settlementId}, #{amountPayable},
            #{settlementStatus}, #{paymentOrderPrice}, #{refundOrderPrice},
            #{violationsPrice}, #{settlementBeginTime}, #{settlementEndTime},
            #{createdBy}, #{createdTime}, #{updatedBy}, #{updatedTime}, #{removed})
    </insert>

    <!--  查询结算管理列表查询条件  -->
    <sql id="queryConditions">
        <where>
            removed=0
            <if test="providerIdFk != null">and provider_id_fk= #{providerIdFk}</if>
            <if test="providerName!=null and providerName.trim()!=''">and provider_name= #{providerName}</if>
            <if test="settlementId!=null">and settlement_id= #{settlementId}</if>
            <if test="settlementStatus!=null">and settlement_status= #{settlementStatus}</if>
            <if test="settlementBeginTime!=null">and settlement_begin_time= #{settlementBeginTime}</if>
            <if test="settlementEndTime!=null">and settlement_end_time= #{settlementEndTime}</if>
        </where>
    </sql>
    
    <!--  查询结算单管理列表  -->
    <select id="selectSettlementManageList" parameterType="com.gugugou.provider.settlement.model.SettlementManage" resultMap="settlementManageMap">
        select 
            <include refid="settlementManage_column_list"/>
        from t_settlement_manage
            <include refid="queryConditions"/>
        order by created_time asc
        limit #{pageIndex}, #{pageSize}
    </select>

    <!--  查询违规处罚记录数  -->
    <select id="selectSettlementManageCount" resultType="java.lang.Integer">
        select count(1)
        from t_settlement_manage
        <include refid="queryConditions"></include>
    </select>
</mapper>