<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gugugou.provider.violations.dao.ViolationsDao">
    <!--  查询违规处罚表返回结果集  -->
    <resultMap id="BASE_COLUMN_MAP" type="com.gugugou.provider.violations.model.Violations">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="providerIdFk" column="provider_id_fk" jdbcType="INTEGER"/>
        <result property="providerName" column="provider_name" jdbcType="VARCHAR"/>
        <result property="punishType" column="punish_type" jdbcType="VARCHAR"/>
        <result property="punishSkuId" column="punish_sku_id" jdbcType="VARCHAR"/>
        <result property="punishAmount" column="punish_amount" jdbcType="DOUBLE"/>
        <result property="punishStatus" column="punish_status" jdbcType="INTEGER"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="DATE"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="DATE"/>
        <result property="removed" column="removed" jdbcType="INTEGER"/>
    </resultMap>
    <!--  查询附件表返回结果集  -->
    <resultMap id="accessoryMap" type="com.gugugou.provider.aptitude.model.AccessoryUrlModel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="brand_id_fk" property="brandIdFk" jdbcType="INTEGER"/>
        <result column="violations_id_fk" property="violationsIdFk" jdbcType="INTEGER"/>
        <result column="provider_aptitude_id_fk" property="providerAptitudeIdFk" jdbcType="INTEGER"/>
        <result column="accessory_url" property="accessoryUrl" jdbcType="VARCHAR"/>
        <result column="accessory_name" property="accessoryName" jdbcType="VARCHAR"/>
        <result column="accessory_source" property="accessorySource" jdbcType="INTEGER"/>
        <result column="accessory_address" property="accessoryAddress" jdbcType="INTEGER"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result column="removed" property="removed" jdbcType="INTEGER"/>
    </resultMap>

    <!--  Violations实体类公共字段  -->
    <sql id="Base_Colum_List">
         id, provider_id_fk, provider_name, punish_type, punish_sku_id, punish_amount,
         punish_status, created_by, created_time, updated_by, updated_time, removed
    </sql>

    <!--  新增违规处罚  -->
    <insert id="addTicket" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.gugugou.provider.violations.model.Violations">
        insert into t_violations
            (<include refid="Base_Colum_List"></include>)
        values
            (#{id},#{providerIdFk},#{providerName},#{punishType},#{punishSkuId},#{punishAmount},
            #{punishStatus},#{createdBy},#{createdTime},#{updatedBy},#{updatedTime},
            #{removed})
    </insert>

    <!--  新增违规处罚附件集合  -->
    <insert id="addAccessoryUrlModelList" parameterType="list">
        insert into t_accessory_url
            (id, brand_id_fk, violations_id_fk, provider_aptitude_id_fk, accessory_url,
            accessory_name, accessory_source, accessory_address, created_by, created_time,
            updated_by, updated_time, removed)
        values
        <foreach collection="list" item="accessory" separator=",">
            (#{accessory.id}, #{accessory.brandIdFk}, #{accessory.violationsIdFk},
            #{accessory.providerAptitudeIdFk}, #{accessory.accessoryUrl},
            #{accessory.accessoryName},#{accessory.accessorySource},
            #{accessory.accessoryAddress}, #{accessory.createdBy}, #{accessory.createdTime},
            #{accessory.updatedBy}, #{accessory.updatedTime}, #{accessory.removed})
        </foreach>
    </insert>

    <!--  修改违规处罚单  -->
    <update id="updateTicket" parameterType="com.gugugou.provider.violations.model.Violations">
        update t_violations
            <trim prefix="set" suffixOverrides=",">
                <if test="providerIdFk!=null">provider_id_fk=#{providerIdFk},</if>
                <if test="providerName!=null and providerName.trim()!=''">provider_name=#{providerName},</if>
                <if test="punishType!=null and punishType.trim()!=''">punish_type=#{punishType},</if>
                <if test="punishSkuId!=null and punishSkuId.trim()!=''">punish_sku_id=#{punishSkuId},</if>
                <if test="punishAmount!=null">punish_amount=#{punishAmount},</if>
                <if test="punishStatus!=null">punish_status=#{punishStatus},</if>
                <if test="updatedBy!=null and updatedBy.trim()!=''">updated_by=#{updatedBy},</if>
                <if test="updatedTime!=null">updated_time=#{updatedTime}</if>
            </trim>
        where
            id=#{id}
    </update>

    <!--  修改违规处罚附件集合  -->
    <update id="updateTicketAccessoryList" parameterType="com.gugugou.provider.aptitude.model.AccessoryUrlModel">
        update t_accessory_url
            <trim prefix="set" suffixOverrides=",">
                <if test="accessoryUrl!=null and accessoryUrl.trim()!=''">accessory_url=#{accessoryUrl},</if>
                <if test="accessoryName!=null and accessoryName.trim()!=''">accessory_name=#{accessoryName},</if>
                <if test="accessorySource!=null">accessory_source=#{accessorySource},</if>
                <if test="accessoryAddress!=null">accessory_address=#{accessoryAddress},</if>
                <if test="updatedTime!=null">updated_time=#{updatedTime},</if>
                <if test="removed!=null">removed=#{removed}</if>
            </trim>
        where id=#{id};
    </update>

    <!--  根据id查询单条违规处罚详情  -->
    <select id="getTicketById" parameterType="java.lang.Integer" resultMap="BASE_COLUMN_MAP">
        select
            <include refid="Base_Colum_List"></include>
        from t_violations where id = #{id};
    </select>

    <!--  根据处罚单id查询附件集合  -->
    <select id="getAccessoryListById" parameterType="java.lang.Integer" resultMap="accessoryMap">
        select
            id, brand_id_fk, violations_id_fk, provider_aptitude_id_fk, accessory_url,
            accessory_name, accessory_source, accessory_address, created_by, created_time,
            updated_by, updated_time, removed
        from t_accessory_url
        where
            violations_id_fk= #{id}
    </select>

    <!--  查询违规处罚列表的查询条件  -->
    <sql id="queryConditions">
        <where>
            1=1
            <if test="providerIdFk != null">and provider_id_fk= #{providerIdFk}</if>
            <if test="providerName!=null and providerName.trim()!=''">and provider_name=#{providerName}</if>
            <if test="punishType!=null and punishType.trim()!=''">and punish_type=#{punishType}</if>
            <if test="createdTime!=null">and created_time=#{createdTime}</if>
            <if test="punishAmount!=null">and punish_amount=#{punishAmount}</if>
            <if test="punishStatus!=null">and punish_status=#{punishStatus}</if>
        </where>
    </sql>

    <!--  查询违规处罚列表 有条件查询 -->
    <select id="selectTicketList" parameterType="com.gugugou.provider.violations.model.Violations" resultMap="BASE_COLUMN_MAP">
        select
            <include refid="Base_Colum_List"></include>
        from t_violations
            <include refid="queryConditions"></include>
        order by created_time asc
        limit #{pageIndex}, #{pageSize}
    </select>

    <!--  查询违规处罚记录数  -->
    <select id="selectTicketCount" resultType="java.lang.Integer">
        select count(1)
        from t_violations
        <include refid="queryConditions"></include>
    </select>

</mapper>